span.material-symbols-outlined {
  vertical-align: middle;
}

[data-shaking='true'] {
  animation: horizontal-shaking 0.25s linear infinite;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
